<div class="d-flex position-relative justify-content-center align-items-center">
  <%= image_tag "dish.png", size: "1000x1000", class: "w-100" %>
  <div class="position-absolute text-center about_text">
    <h1 class="mt-2">About Makasete Meal</h1>
    <h3 class="mt-5">
      何を食べようか悩んでいませんか？</br>
      なんでも良いという言葉に悩んでいませんか？
    </h3>
    <h3 class="mt-5">
      楽天レシピ、ホットペッパーのAPIを活用して</br>
      あなたをその悩みから解放します。
    </h3>
    <h3 class="mt-5">
      Let's Makasete Meal
    </h3>
  </div>
</div>