<h1 class="text-center mt-5">About Makasete Meal</h1>
<h3 class="text-center mt-5">
  何を食べようか悩んでいませんか？</br>
  なんでも良いという言葉に悩んでいませんか？
</h3>
<h3 class="text-center mt-5">
  楽天レシピ、ホットペッパーのAPIを活用して</br>
  あなたをその悩みから解放します。
</h3>
<h3 class="text-center mt-5">
  Let's Makasete Meal
</h3>