@use '~bootstrap/scss/bootstrap';

// Top画面のイラストホバー時のスタイル
.hover-zoom {
  transition: transform 0.5s;
}

.hover-zoom:hover {
  transform: scale(1.1);
  z-index: 1;
}

// favoriteの追加スタイル
.favorite {
  right: 5px;
  bottom: 5px;
  align-items: flex-end;
}