@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@500&display=swap');

// 文字スタイル
body {
  font-family: 'Zen Maru Gothic', sans-serif;
}

// Top画面のイラストホバー時のスタイル
.hover-zoom {
  transition: transform 0.5s;
}

.hover-zoom:hover {
  transform: scale(1.1);
  z-index: 1;
}

// favoriteの追加スタイル
.favorite {
  right: 5px;
  bottom: 5px;
  align-items: flex-end;
}

// aboutの追加スタイル
.about {

}
