<% if restaurant.favorited_by?(current_user) %>
  <%= link_to restaurant_restaurant_favorites_path(restaurant), method: :delete, remote: true do %>
    <div class="bg-white rounded p-1">
      <i class="fa-solid fa-heart fa-2xl" style="color: #FF5252;"></i>
    </div>
  <% end %>
<% else %>
  <%= link_to restaurant_restaurant_favorites_path(restaurant), method: :post, remote: true do %>
    <div class="bg-white rounded p-1">
      <i class="fa-regular fa-heart fa-2xl" style="color: #FF5252;"></i>
    </div>
  <% end %>
<% end %>