<div class="d-md-flex justify-content-center">
  <!-- Rakuten logo -->
  <div class="mt-3 text-center">
    <a href="https://webservice.rakuten.co.jp/" target="_blank">
      <img src="https://webservice.rakuten.co.jp/img/credit/200709/credit_31130.gif" border="0" alt="Rakuten Web Service Center" title="Rakuten Web Service Center" width="311" height="30"/>
    </a>
  </div>
  <!-- Hot Pepper logo -->
  <div class="mt-3 text-center">
    <a href="http://webservice.recruit.co.jp/">
      <img src="http://webservice.recruit.co.jp/banner/hotpepper-m.gif" alt="ホットペッパー Webサービス" width="88" height="35" border="0" title="ホットペッパー Webサービス">
    </a>
  </div>
</div>
<p class="text-center mt-3">
  <small>©CopyRight Makasete-Meal.inc</small>
</p>